:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.whiteboard-container {
  width: 100%;
  height: 100%;
  background: #fff;
}

.svg-canvas {
  width: 100%;
  height: 100%;
  display: block;
  touch-action: none;
  background: #fff;
}

.hit-area {
  fill: white;
}
